@import "global.scss";
@import "container.scss";

.header {
  display: flex;
  align-items: center;
  padding: 25px 0px;

  nav {
    margin-left: 145px;
    ul {
      display: flex;

      li {
        margin-right: 20px;
        a {
          display: flex;
          font-size: 14px;
          img {
            margin-left: 10px;
          }
          &:hover {
            opacity: 0.9;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .menu {
    display: flex;
    margin-left: auto;
    align-items: center;

    .btn {
      display: flex;
      padding: 7px 14px;
      border: 1px solid $primaryColor;
      border-radius: 2px;

      &:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
      }
    }
    .btn-primary {
      background-color: $secondaryColor;
      border: 1px solid $secondaryColor;
      margin-left: 10px;

      &:hover {
        background-color: $secondaryColorHover;
        color: $primaryColor;
      }
      img {
        margin-right: 5px;
      }
    }
    .btn-mobile {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    nav {
      display: none;
    }
    .menu {
      .btn-mobile {
        display: block;
        margin-left: 120px;
      }
    }
  }

  @media (max-width: 600px) {
    nav {
      display: none;
    }
    .menu {
      .btn,
      .btn-primary {
        display: none;
      }
      .btn-mobile {
        display: block;
        margin-left: 0px;
      }
    }
  }
}
