* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  background-color: #000;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 14px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.btn:hover {
  background-color: #fff;
  color: #00aeff;
}

.btn-primary {
  background-color: #00aeff;
  border: 1px solid #00aeff;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #50c8ff;
  color: #fff;
}

.btn-primary img {
  margin-right: 5px;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1246px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
}

.header nav {
  margin-left: 145px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  margin-right: 20px;
}

.header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.header nav ul li a img {
  margin-left: 10px;
}

.header nav ul li a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu .btn-ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu .menu-toggle {
  display: none;
  width: 19px;
  height: 20px;
  margin-left: 150px;
}

.header .menu .menu-toggle button {
  position: relative;
  width: 19px;
  height: 20px;
}

.header .menu .menu-toggle button:hover span {
  background-color: #00aeff;
}

.header .menu .menu-toggle button:hover span:nth-child(1) {
  width: 15px;
}

.header .menu .menu-toggle button:hover span:nth-child(2) {
  width: 19px;
}

.header .menu .menu-toggle button span {
  background-color: #fff;
  position: absolute;
}

.header .menu .menu-toggle button span:nth-child(1) {
  top: 0;
  right: 0;
  width: 19px;
  height: 1px;
}

.header .menu .menu-toggle button span:nth-child(2) {
  top: 10px;
  right: 0;
  width: 15px;
  height: 1px;
}

@media (max-width: 1024px) {
  .header nav {
    display: none;
  }
  .header .menu .menu-toggle {
    display: block;
    margin-left: 120px;
  }
}

@media (max-width: 600px) {
  .header nav {
    display: none;
  }
  .header .menu .btn,
  .header .menu .btn-primary {
    display: none;
  }
  .header .menu .btn-mobile {
    display: block;
    margin-left: 0px;
  }
}

.menu-mobile {
  display: none;
}

.menu-mobile nav ul li {
  margin: 20px 0;
}

.menu-mobile nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-mobile nav ul li a img {
  margin-left: 12px;
}

.menu-mobile a {
  cursor: pointer;
}

.menu-mobile .close {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 22px;
  padding: 10px;
}

.menu-mobile .close:hover {
  background-color: #00aeff;
  border-radius: 30px;
}

.menu-mobile-active {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
}

.menu-mobile-active .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.menu-mobile-active aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  background-color: #000;
  padding-top: 4%;
  padding-left: 1.5rem;
  padding-top: 14%;
}

.menu-mobile-active aside .btn-ctas a {
  margin-right: 10px;
}

.menu-mobile-active aside .btn-ctas .btn-ctas {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile-active aside .btn-ctas .btn-primary {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 10px 0 0;
}

.menu-toggle-close span:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 19px !important;
  right: 12 !important;
  top: 10 !important;
}

.menu-toggle-close span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 19px !important;
  right: 11 !important;
}

.s-games__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.s-games__header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-games__header ul li {
  margin-right: 20px;
}

.s-games__header ul li .active img {
  opacity: 1;
}

.s-games__header ul li a {
  cursor: pointer;
}

.s-games__header ul li a img {
  opacity: 0.5;
}

.s-games__header ul li a img:hover {
  opacity: 1;
}

.s-games__header__allgames a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-games__header__allgames a img {
  margin-right: 10px;
}

.s-games__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 4.7rem 3.2rem;
}

.s-games__cards__card__image {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.s-games__cards__card__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.s-games__cards__card__image img {
  border-radius: 4px;
}

.s-games__cards__card__info {
  margin-top: 18px;
}

@media (max-width: 1024px) {
  .s-games__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem 2.8rem;
  }
}

@media (max-width: 612px) {
  .s-games__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s-games__header ul, .s-games__header__allgames {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .s-games__header__title {
    width: 100%;
    margin-bottom: 20px;
  }
  .s-games__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 2rem;
  }
}
/*# sourceMappingURL=style.css.map */