@import "global.scss";
@import "container.scss";
@import "header.scss";
@import "section-games.scss";
@import "section-download.scss";

.s-slide {
  position: relative;
  z-index: 2;

  &__main {
    .swiper-wrapper {
      width: 100%;
      height: 100vh;

      @media (max-width: 612px) {
        height: 45rem;
      }

      .swiper-slide {
        padding-top: 20rem;

        @media (max-width: 612px) {
          padding-top: 12rem;
        }

        .container {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          @media (max-width: 612px) {
            flex-direction: column;
          }

          .left-content {
            margin-left: 5%;
            width: 100%;
            max-width: 56.2rem;

            h2 {
              font-weight: bold;
              font-size: 66px;
              line-height: 83px;
              margin-bottom: 1.6rem;

              @media (max-width: 1024px) {
                font-size: 46px;
                line-height: 68px;
                margin-bottom: 1.2rem;
              }

              @media (max-width: 612px) {
                font-size: 35px;
                line-height: 45px;
                margin-bottom: 0.8rem;
              }
            }
            p {
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              margin-bottom: 3.2rem;
            }
            button {
              align-items: center;
              font-size: 17px;
              padding: 20px 70px;

              @media (max-width: 1024px) {
                padding: 15px 45px;
              }

              @media (max-width: 612px) {
                padding: 15px 35px;
              }
            }
          }
          .right-content {
            width: 100%;
            max-width: 29.2rem;
            display: flex;
            flex-direction: column;

            .logo {
              width: 100%;
              max-width: 28rem;
              height: 18rem;

              @media (max-width: 612px) {
                margin-top: 40px;
              }

              img {
                margin-left: auto;
                @media (max-width: 612px) {
                  width: 54%;
                }
              }
            }
          }
        }
      }
      .slide-01 {
        background: url("../assets/banner-slide-01.jpg") no-repeat center center;
        background-size: cover;
        @media (max-width: 612px) {
          background-position-x: 40%;
        }
      }

      .slide-02 {
        background: url("../assets/banner-slide-02.jpg") no-repeat center center;
        background-size: cover;
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: #fff;
    }
  }

  .swiper-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 3;
    .slide-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.3rem;
      width: auto;
      opacity: 0;
      display: block;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00aeff;
        height: 100%;
        width: 0;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear;
      }
    }
  }
  .swiper-progress-bar.active .slide-progress-bar {
    opacity: 1;
  }
  .swiper-progress-bar.animate .slide-progress-bar::after {
    width: 100%;
    transition: width 5s linear;
  }
}
