* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  background-color: #000;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 14px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.btn:hover {
  background-color: #fff;
  color: #00aeff;
}

.btn-primary {
  background-color: #00aeff;
  border: 1px solid #00aeff;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #50c8ff;
  color: #fff;
}

.btn-primary img {
  margin-right: 5px;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1246px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 5.6rem;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container nav {
  margin-left: 145px;
}

.header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container nav ul li {
  margin-right: 20px;
}

.header .container nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.header .container nav ul li a img {
  margin-left: 10px;
}

.header .container nav ul li a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .menu .btn-ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .menu .menu-toggle {
  display: none;
  width: 19px;
  height: 20px;
  margin-left: 150px;
}

.header .container .menu .menu-toggle button {
  position: relative;
  width: 19px;
  height: 20px;
}

.header .container .menu .menu-toggle button:hover span {
  background-color: #00aeff;
}

.header .container .menu .menu-toggle button:hover span:nth-child(1) {
  width: 15px;
}

.header .container .menu .menu-toggle button:hover span:nth-child(2) {
  width: 19px;
}

.header .container .menu .menu-toggle button span {
  background-color: #fff;
  position: absolute;
}

.header .container .menu .menu-toggle button span:nth-child(1) {
  top: 0;
  right: 0;
  width: 19px;
  height: 1px;
}

.header .container .menu .menu-toggle button span:nth-child(2) {
  top: 10px;
  right: 0;
  width: 15px;
  height: 1px;
}

@media (max-width: 1024px) {
  .header .container nav {
    display: none;
  }
  .header .container .menu .menu-toggle {
    display: block;
    margin-left: 120px;
  }
}

@media (max-width: 600px) {
  .header .container nav {
    display: none;
  }
  .header .container .menu .btn,
  .header .container .menu .btn-primary {
    display: none;
  }
  .header .container .menu .btn-mobile {
    display: block;
    margin-left: 0px;
  }
}

.menu-mobile {
  display: none;
}

.menu-mobile nav ul li {
  margin: 20px 0;
}

.menu-mobile nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-mobile nav ul li a img {
  margin-left: 12px;
}

.menu-mobile a {
  cursor: pointer;
}

.menu-mobile .close {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 22px;
  padding: 10px;
}

.menu-mobile .close:hover {
  background-color: #00aeff;
  border-radius: 30px;
}

.menu-mobile-active {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
}

.menu-mobile-active .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.menu-mobile-active aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  background-color: #000;
  padding-top: 4%;
  padding-left: 1.5rem;
  padding-top: 14%;
}

.menu-mobile-active aside .btn-ctas a {
  margin-right: 10px;
}

.menu-mobile-active aside .btn-ctas .btn-ctas {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile-active aside .btn-ctas .btn-primary {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 10px 0 0;
}

.menu-toggle-close span:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 19px !important;
  right: 12 !important;
  top: 10 !important;
}

.menu-toggle-close span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 19px !important;
  right: 11 !important;
}

.s-games__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.s-games__header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-games__header ul li {
  margin-right: 20px;
}

.s-games__header ul li .active img {
  opacity: 1;
}

.s-games__header ul li a {
  cursor: pointer;
}

.s-games__header ul li a img {
  opacity: 0.5;
}

.s-games__header ul li a img:hover {
  opacity: 1;
}

.s-games__header__allgames a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-games__header__allgames a img {
  margin-right: 10px;
}

.s-games__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 4.7rem 3.2rem;
}

.s-games__cards__card__image {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.s-games__cards__card__image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.s-games__cards__card__image img {
  border-radius: 4px;
}

.s-games__cards__card__info {
  margin-top: 18px;
}

@media (max-width: 1024px) {
  .s-games__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem 2.8rem;
  }
}

@media (max-width: 612px) {
  .s-games__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s-games__header ul, .s-games__header__allgames {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .s-games__header__title {
    width: 100%;
    margin-bottom: 20px;
  }
  .s-games__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 2rem;
  }
}

.s-downloads {
  background: url("../assets/bg-section.png") no-repeat;
  background-size: cover;
  padding: 120px 0 100px;
  margin: 67px 0;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-downloads__dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-downloads__dflex__description {
  width: 100%;
  max-width: 280px;
}

.s-downloads__dflex__description h2 {
  margin: 22px 0 46px 0;
}

.s-downloads__dflex__description ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.s-downloads__dflex__description ul li .icon {
  margin-right: 15px;
}

.s-downloads__dflex__description ul li p {
  color: #777777;
}

.s-downloads__dflex__description .btn-primary {
  margin-left: 0px;
  padding: 15px 0 15px 28px;
}

.s-downloads__dflex__description .app {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.s-downloads__dflex__description .app img {
  margin-right: 16px;
  margin-left: 12px;
}

.s-downloads__dflex__images {
  position: absolute;
  max-width: 106.6rem;
  height: 61rem;
  width: 100%;
}

.s-downloads__dflex__images .img-lg {
  position: absolute;
  right: -4rem;
}

.s-downloads__dflex__images .img-sm {
  position: absolute;
  top: 300px;
  right: 0rem;
}

.s-slide {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}

.s-slide__main .swiper-wrapper .swiper-slide {
  padding-top: 20rem;
}

.s-slide__main .swiper-wrapper .swiper-slide .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-slide__main .swiper-wrapper .swiper-slide .container .left-content {
  margin-left: 5rem;
  width: 100%;
  max-width: 56.2rem;
}

.s-slide__main .swiper-wrapper .swiper-slide .container .left-content h2 {
  font-weight: bold;
  font-size: 66px;
  line-height: 83px;
  margin-bottom: 1.6rem;
}

.s-slide__main .swiper-wrapper .swiper-slide .container .left-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 3.2rem;
}

.s-slide__main .swiper-wrapper .swiper-slide .container .left-content button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  padding: 20px 70px;
}

.s-slide__main .swiper-wrapper .swiper-slide .container .right-content {
  width: 100%;
  max-width: 29.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-slide__main .swiper-wrapper .swiper-slide .container .right-content .logo {
  width: 100%;
  max-width: 28rem;
  height: 18rem;
}

.s-slide__main .swiper-wrapper .swiper-slide .container .right-content .logo img {
  margin-left: auto;
}

.s-slide__main .swiper-wrapper .slide-01 {
  background: url("../assets/banner-slide-01.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.s-slide__main .swiper-wrapper .slide-02 {
  background: url("../assets/banner-slide-02.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.s-slide .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
}

.s-slide .swiper-progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 3;
}

.s-slide .swiper-progress-bar .slide-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  width: auto;
  opacity: 0;
  display: block;
}

.s-slide .swiper-progress-bar .slide-progress-bar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00aeff;
  height: 100%;
  width: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.s-slide .swiper-progress-bar.active .slide-progress-bar {
  opacity: 1;
}

.s-slide .swiper-progress-bar.animate .slide-progress-bar::after {
  width: 100%;
  -webkit-transition: width 5s linear;
  transition: width 5s linear;
}
/*# sourceMappingURL=style.css.map */